* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  background-image: url(https://cdn.pixabay.com/photo/2017/11/22/22/52/milky-way-2971669_960_720.jpg);
  object-fit: cover;
  align-items: center;
}
header {
  padding: 0% 6%;
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(10, 10, 36);
}
#apod {
  padding-bottom: 19%;
  align-items: center;
  color: #ffffff;
  font-size: 30px;
  font-family: "Bakbak One", cursive;
}
#apod a {
  color: inherit;
  text-decoration: none;
}
button {
  box-shadow: inset 0px 1px 0px 0px #e184f3;
  background: linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
  background-color: #c123de;
  border-radius: 6px;
  border: 1px solid #a511c0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 3px 18px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #9b14b3;
}
button:hover {
  background: linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
  background-color: #a20dbd;
}
button:active {
  position: relative;
  top: 1px;
}

.img {
  height: 70px;
  width: auto;
}
main {
  padding: 3% 3%;
  width: 85%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9e95a9;
  text-align: center;
}
#titulo {
  font-family: "Bakbak One", cursive;
}
#data {
  padding: 1%;
}
#imagem {
  box-shadow: 1px 1px 10px black;
}
#video {
  display: none;
  width: 80%;
  height: 100vh;
  box-shadow: 1px 1px 10px black;
}
#autor {
  padding: 1%;
}
#descricao {
  text-align: justify;
}
footer {
  width: 100%;
  height: 7%;
  padding: 1%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(10, 10, 36);
  color: aliceblue;
}
@media (max-width: 700px) {
  header {
    padding: 5%;
  }
  #apod {
    display: none;
  }
  .img {
    display: none;
  }
}
